.page-header {
  position: relative;
  min-height: 560px;
  height: 100vh;
  background: url('../images/head-bg.jpg') no-repeat 90%;
  background-size: cover;
  font-size: 30px;
  color: #FFF;
}

.page-header .container {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.page-header__logo {
  width: 145px;
  height: 17px;
  position: absolute;
  top: 30px;
  left: 30px;
  background: url('../images/head-logo.svg') no-repeat center;
  background-size: contain;
}

.page-header__profession {
  margin-bottom: 14px;
  font-size: 50px;
  line-height: 1;
}

.page-header__profession-text {
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 1.3;
}

.page-header__profession-us {
  margin-bottom: 30px;
  font-size: 22px;
}

.page-header__icon-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  width: 30vw;
  height: 39vw;
  max-height: 500px;
  max-width: 385px;
  background: url('../images/head-fax.svg') no-repeat center;
  background-size: contain;
}

.page-header__tick {
  position: absolute;
  bottom: 28px;
  left: 50%;
  height: 9px;
  width: 16px;
  margin-left: -16px;
  background: url('../images/tick.svg') no-repeat center;
}

@media (max-width: 768px) {
  .page-header__icon-right {
    display: none;
  }
}


@media (max-width: 650px) {
  .page-header__profession {
    font-size: 28px;
  }

  .page-header__profession-text {
    font-size: 14px;
  }

  .page-header__profession-us {
    font-size: 18px;
  }
}