.sunlight-desc {
  padding: 39px 0;
  background: url('../images/line.jpg') no-repeat center / cover;

  font-size: 14px;
  color: #FFFFFF;
  text-align: center;
}

@media (max-width: 768px) {
  .sunlight-desc {
    br {
      display: none;
    }
  }
}
