doctype html
head
  title Sunlight
  meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
  meta(name="viewport" content="width=device-width")
  meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
  link(rel="icon" href="./images/favicon.ico" type="image/x-icon")
  link(rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css")
  link(rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick-theme.css")
  link(rel="stylesheet" href="stylesheets/app.css")

  script(src="javascripts/vendor.js")
  script(src="javascripts/app.js")

  script.
    require('initialize');

body
  header.page-header
    .container
      .page-header__logo
      .page-header__desc
        .page-header__profession-text
          | Открыта вакансия
        .page-header__profession
          | ДИРЕКТОР МАГАЗИНА
        a.page-header__btn.btn(href="#")
          | ОТКЛИКНУТЬСЯ НА ВАКАНСИЮ
    .page-header__icon-right
    .page-header__tick

  main.page-main
    .features
      .container
        .title.features-title
          .title__line
          .title__text
            | МЫ ПРЕДЛАГАЕМ

        .features-list
          .features-item.features-item--1
            .features-item__icon
            .features-item__text
              | РАБОТУ В САМОЙ БОЛЬШОЙ ЮВЕЛИРНОЙ КОМПАНИИ, ЛИДЕРЕ В ДАННОЙ ОТРАСЛИ!

          .features-item.features-item--2
            .features-item__icon
            .features-item__text
              | График 5/2, с 10:00 до 19:00

          .features-item.features-item--3
            .features-item__icon
            .features-item__text
              | ОФОРМЛЕНИЕ СОГЛАСНО ТК РФ (ОПЛАЧИВАЕМЫЕ ОТПУСК И БОЛЬНИЧНЫЙ ЛИСТ)

          .features-item.features-item--4
            .features-item__icon
            .features-item__text
              | КОМАНДУ ПРОФЕССИОНАЛОВ молодой и дружный коллектив

          .features-item.features-item--5
            .features-item__icon
            .features-item__text
              | ВОЗМОЖНОСТЬ ВЛИЯТЬ НА СВОЙ ЗАРАБОТОК

          .features-item.features-item--6
            .features-item__icon
            .features-item__text
              | Активная корпаративная жизнь
    .sunlight-desc
      .container
        | ЛУЧШИЕ СОЗДАТЕЛИ МОДНЫХ ЮВЕЛИРНЫХ УКРАШЕНИЙ И ЧАСОВ ПО ДЕМОКРАТИЧНЫМ ЦЕНАМ!
        br
        | НАША МИССИЯ – СТАТЬ ВЕРНЫМ КОНСУЛЬТАНТОМ ПО СТИЛЮ И РАДОВАТЬ НАШИХ ПОКУПАТЕЛЕЙ
        br
        | БЛЕСКОМ ДРАГОЦЕННЫХ КАМНЕЙ И КРАСИВЫМ ДИЗАЙНОМ УКРАШЕНИЙ,
        br
        | С КОТОРЫМИ НЕ ЗАХОЧЕТСЯ РАССТАВАТЬСЯ НИ НА ДЕНЬ!

    .requirements
      .container
        .title.requirements-title
          .title__line
          .title__text
            | МЫ ИЩЕМ

        .requirements-list
          .requirements-item.requirements-item--1
            .requirements-item__icon
            .requirements-item__text
              | Лидерские качества,
              br
              | способность влиять на результат и организовать работу в магазине
          .requirements-item.requirements-item--2
            .requirements-item__icon
            .requirements-item__text
              | Трудолюбие и коммуникабельность.  Навыки управления персоналом
          .requirements-item.requirements-item--3
            .requirements-item__icon
            .requirements-item__text
              | Опыт работы на аналогичной должности от 1 до 3 лет

        a.requirements-btn.btn(href="#")
          | ОТКЛИКНУТЬСЯ НА ВАКАНСИЮ

    .implement
      | ВМЕСТЕ С ТОБОЙ МЫ РЕАЛИЗУЕМ НАШИ САМЫЕ СМЕЛЫЕ ИДЕИ!

    .expect
      .container
        .title.title--centered.expect-title
          .title__line
          .title__text
            | Мы ожидаем

        .expect-list
          .expect-item
            span
            | Организация и управление бизнес-процессами магазина с целью достижения плана продаж
          .expect-item
            span
            | Организация и руководство финансово-экономической деятельностью магазина
          .expect-item
            span
            | Организация, контроль и управление работой персонала магазина
          .expect-item
            span
            | Заполнение табеля учета рабочего времени
          .expect-item
            span
            | Управление набором, обучением и планирование индивидуального развития работников магазина, анализ их личных и профессиональных качеств с целью определения перспективных работников и планирования их карьерного роста
          .expect-item
            span
            | Контроль и проведение инвентаризации
          .expect-item
            span
            | Обеспечение выполнения плана продаж магазина
          .expect-item
            span
            | Активное взаимодействие с покупателями для обеспечения высокого уровня сервиса каждому клиенту
          .expect-item
            span
            | Взаимодействие с сотрудниками других отделов для обеспечения магазина всеми необходимыми ресурсами
          .expect-item
            span
            | Проведение мероприятий, направленных на сохранность материальных ценностей"
        a.expect__btn.btn(href="#")
          | ОТКЛИКНУТЬСЯ НА ВАКАНСИЮ

    .way
      .container
        .way__title
          | ЕСЛИ ТЫ СООТВЕТСТВУЕШЬ НАШИМ ТРЕБОВАНИЯМ И ХОЧЕШЬ СТАТЬ ЧАСТЬЮ КОМАНДЫ, ТО МЫ ПРЕДЛАГАЕМ ТЕБЕ ПРОЙТИ НЕБОЛЬШОЙ ПУТЬ:
        .way-list
          .way-item
            .way-item__icon.way-item__icon-1
            .way-item__text
              .way-item__text-1
                | ОТБОР ПО РЕЗЮМЕ
              .way-item__text-2
                | ПОЗДРАВЛЯЕМ,
                br
                |  ТЫ ЕГО ПРОШЕЛ!
          .way-item
            .way-item__icon.way-item__icon-2
            .way-item__text
               .way-item__text-1
                | ОНЛАЙН-ИНТЕРВЬЮ
              .way-item__text-2
                | ПОНАДОБЯТСЯ НЕСКОЛЬКО
                br
                | МИНУТ ТВОЕГО ВРЕМЕНИ
          .way-item
            .way-item__icon.way-item__icon-3
            .way-item__text
               .way-item__text-1
                | ЗНАКОМСТВО В ОФИСЕ
              .way-item__text-2
                | В СЛУЧАЕ УСПЕХА С ТОБОЙ
                br
                | СВЯЖУТСЯ НАШИ СПЕЦИАЛИСТЫ.
        a.way-btn.btn(href="#")
          | ОТКЛИКНУТЬСЯ НА ВАКАНСИЮ

    footer.page-footer
      .container
        .page-footer__logo
        .page-footer__copyright
          | © 2017 SUNLIGHT. ВСЕ ПРАВА ЗАЩИЩЕНЫ.