.title {
  &__line {
    margin-bottom: 20px;
    background: #E4002B;
    width: 150px;
    height: 8px;
  }

  &__text {
    font-size: 30px;
    color: #000000;
  }

  &--centered {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }

  &--centered .title__line {
    width: 50px;
  }
}

@media (max-width: 768px) {
  .title {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }

  .title__text {
    font-size: 26px;
  }

  .title__line {
    width: 50px;
  }
}